.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  font-size: 70px;
  color: cornsilk;
  background-color: black;
  width: 98%;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  border-radius: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.information label {
  padding-top: 10px;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-bottom: 10px;
}

.information button {
  width: 300px;
  height: 80px;
  margin-top: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  font-size: larger;
  color: white;
  background-color: coral;
}

.information button:hover { 
 background-color: chocolate;
}